web/src/main/webapp/xml/schemas/*/loc/*/schematron*
web/src/main/webapp/xml/schemas/*/schematron*
cachingxslt/cachingxslt.iml
cachingxslt/target/
cargo/
config-patch-proposal.txt
gast/gast.iml
gast/target/
geocat-geoserver/geocat-geoserver.iml
geocat-geoserver/target/
geonetwork.iml
geonetwork.ipr
geonetwork.iws
geoserver/geoserver.iml
geoserver/target/
jeeves/jeeves.iml
jeeves/target/
oaipmh/oaipmh.iml
oaipmh/target/
schematrons/.build/
sde/dummy-api.iml
sde/target/
test/test.iml
web-itest/
web/geonetwork-main.iml
web/jcs_caching/
web/logs/
web/src/data/
web/src/main/webapp/WEB-INF/classes/JZKitConfig.xml
web/src/main/webapp/WEB-INF/db/log/
web/src/main/webapp/WEB-INF/lucene/
web/src/main/webapp/scripts/lib/*
web/src/main/webapp/xml/schemas/*/schematron-rules-iso.xsl
web/src/main/webapp/xml/schemas/*/loc/???
web/src/main/webapp/WEB-INF/data/removed/
web/src/main/webapp/scripts/ext/locale/ext-lang-???.js
web/*.db
*/bin
*/target
web/src/main/webapp/loc/???
.project
.classpath
.settings

# files copied from webResources
web/src/main/webapp/WEB-INF/classes/META-INF/
web/src/main/webapp/WEB-INF/config-overrides.xml
web/src/main/webapp/WEB-INF/server-props-overrides.xml